<div>
    <h2>Cardápio</h2>

    <div class="row">
        <div *ngFor="let sandwich of sandwiches" class="card col-lg-12" style="padding:10px; margin:10px;">
            <h2>{{sandwich.name}}</h2>
            <p class="ingredients">
                <span *ngFor="let sandwichIngredient of sandwich.ingredients; first as isFirst">
                    <span *ngIf="!isFirst">,</span>
                    {{sandwichIngredient.ingredient.name}}
                </span>
            </p>
            <p>
                <button class="btn btn-primary" role="button" (click)="placeOrder(sandwich)">Comprar</button>
            </p>
        </div>
    </div>
</div>    
