<div>
<header>
  <div class="bg-dark collapse" id="navbarHeader" >
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Sobre</h4>
          <p class="text-muted">Client angular + bootstrap criado para consumir a api order.api.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Opções</h4>
          <ul class="list-unstyled">
            <li><a href="/menu" class="text-white">Menu</a></li>
            <li><a href="/admin" class="text-white">Admin</a></li>
            <li><a href="/shopping-cart" class="text-white">Carrinho</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>OrderApp</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<main role="main">
  <section class="jumbotron">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </section>
  </main>
 </div>